---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import AboutMe from "@/components/AboutMe.astro";
import Hero from "@/components/Hero.astro";
import ProfileCheck from "@/assets/icons/ProfileCheck.astro";
import Briefcase from "@/assets/icons/Briefcase.astro";
import CodeIcon from "@/assets/icons/Code.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
type tLang = (str: any) => any;
const lang = getLangFromUrl(Astro.url);
const t: tLang = useTranslations(lang);
---

<Layout title={t("layout.title")} description={t("layout.description")}>
  <main>
    <SectionContainer class="py-44 pb-32">
      <Hero />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        {t("exp.title")}
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        {t("projects.title")}
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        {t("about.title")}
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
